/* Home - Business Blog */

position: relative;
width: 2100px;
height: 3961px;

background: #F9F9FB;


/* Footer */

position: absolute;
width: 2103px;
height: 100px;
left: 0px;
top: 3861px;



/* BG */

position: absolute;
width: 2103px;
height: 100px;
left: 0px;
top: 3861px;



/* Mask */

position: absolute;
width: 2103px;
height: 100px;
left: 0px;
top: 3861px;

background: #FFFFFF;


/* Mask */

position: absolute;
width: 2103px;
height: 100px;
left: 0px;
top: 3861px;

background: #FFFFFF;


/* Social Media */

position: absolute;
width: 139.86px;
height: 19.95px;
left: 982px;
top: 3901px;



/* Facebook */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 1102px;
top: 3901px;



/* Oval */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 1102px;
top: 3901px;

background: #9B9B9B;


/* Shape */

position: absolute;
width: 5.97px;
height: 12.96px;
left: 1108.69px;
top: 3904.85px;

background: #FFFFFF;


/* Twitter */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 1072px;
top: 3901px;



/* Oval */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 1072px;
top: 3901px;

background: #9B9B9B;


/* Shape */

position: absolute;
width: 11.57px;
height: 9.4px;
left: 1077px;
top: 3907px;

background: #FFFFFF;


/* Instagram */

position: absolute;
width: 19.95px;
height: 19.95px;
left: 1042px;
top: 3901px;



/* Shape */

position: absolute;
width: 9.39px;
height: 9.39px;
left: 1047.28px;
top: 3906.31px;

background: #9B9B9B;


/* Path */

position: absolute;
width: 9.39px;
height: 9.39px;
left: 1047.28px;
top: 3906.31px;

background: #9B9B9B;


/* Path */

position: absolute;
width: 6.18px;
height: 6.18px;
left: 1048.88px;
top: 3907.91px;

background: #9B9B9B;


/* Path */

position: absolute;
width: 1.46px;
height: 1.46px;
left: 1054.43px;
top: 3907.09px;

background: #9B9B9B;


/* Shape */

position: absolute;
width: 3.57px;
height: 3.57px;
left: 1050.19px;
top: 3909.22px;

background: #9B9B9B;


/* Shape */

position: absolute;
width: 19.95px;
height: 19.95px;
left: 1042px;
top: 3901px;

background: #9B9B9B;


/* Path */

position: absolute;
width: 19.95px;
height: 19.95px;
left: 1042px;
top: 3901px;

background: #9B9B9B;


/* Path */

position: absolute;
width: 12px;
height: 12px;
left: 1045.97px;
top: 3905px;

background: #9B9B9B;


/* Pinterest */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 1012px;
top: 3901px;



/* Oval */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 1012px;
top: 3901px;

background: #9B9B9B;


/* Shape */

position: absolute;
width: 9.59px;
height: 12.33px;
left: 1017.13px;
top: 3905.35px;

background: #FFFFFF;


/* Vk */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 982px;
top: 3901px;



/* XMLID_11_ */

position: absolute;
width: 19.86px;
height: 19.86px;
left: 982px;
top: 3901px;

background: #9B9B9B;


/* Shape */

position: absolute;
width: 13.04px;
height: 7.44px;
left: 985.18px;
top: 3907.88px;

background: #FFFFFF;


/* Copyright */

position: absolute;
width: 210px;
height: 19px;
left: 1411px;
top: 3902px;



/* All Rights Reserved */

position: absolute;
height: 19px;
left: 0%;
right: 0%;
top: calc(50% - 19px/2 - 2px);

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #9B9B9B;



/* Group 13 */

position: absolute;
width: 99px;
height: 24px;
left: 484px;
top: 3897px;

mix-blend-mode: normal;
opacity: 0.2;


/* Fill 1 */

position: absolute;
width: 70px;
height: 15px;
left: 509px;
top: 3904px;

background: #020202;


/* Fill 3 */

position: absolute;
width: 30px;
height: 24px;
left: 484px;
top: 3897px;

background: #010101;


/* Path */

position: absolute;
width: 0.95px;
height: 0.38px;
left: 501.18px;
top: 3909.02px;



/* Path */

position: absolute;
width: 1.87px;
height: 1.05px;
left: 495.77px;
top: 3909.11px;



/* Path */

position: absolute;
width: 30px;
height: 24px;
left: 484px;
top: 3897px;



/* Fill 5 */

position: absolute;
width: 6px;
height: 5px;
left: 577px;
top: 3914px;

background: #020202;


/* Fill 7 */

position: absolute;
width: 2px;
height: 2px;
left: 575px;
top: 3913px;

background: #020202;


/* Fill 9 */

position: absolute;
width: 0.19px;
height: 0.17px;
left: 526.9px;
top: 3911.91px;

background: #FEFEFE;


/* Fill 11 */

position: absolute;
width: 0.14px;
height: 0.12px;
left: 562.93px;
top: 3911.94px;

background: #FEFEFE;


/* Suggest */

position: absolute;
width: 1169px;
height: 621px;
left: 465px;
top: 3111px;



/* 2 */

position: absolute;
width: 573px;
height: 621px;
left: 1061px;
top: 3111px;



/* Card */

position: absolute;
width: 573px;
height: 358px;
left: 1061px;
top: 3111px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 573px;
height: 358px;
left: 1061px;
top: 3111px;

background: #FFFFFF;
border-radius: 8px;


/* Rectangle 3 Copy 37 */

position: absolute;
width: 573px;
height: 358px;
left: 1061px;
top: 3111px;

background: #FFFFFF;
border-radius: 8px;


/* designbetter_website_book_assets_illustrations_principlesofproductdesign_breaktheblackbox-1920x1081 */

position: absolute;
width: 636px;
height: 358px;
left: 1025px;
top: 3111px;

background: url(Image.png);


/* Text */

position: absolute;
width: 536px;
height: 243px;
left: 1061px;
top: 3489px;



/* How to Fix Error 404 */

position: absolute;
width: 536px;
height: 133px;
left: 1061px;
top: 3535px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;
/* or 164% */
letter-spacing: -0.175px;

color: #111210;



/* User research is the Copy 11 */

position: absolute;
width: 523px;
height: 81px;
left: 1061px;
top: 3651px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
letter-spacing: -0.1px;

color: #9B9B9B;



/* BY TOMAS LAURINAVICI */

position: absolute;
width: 389px;
height: 25px;
left: 1061px;
top: 3489px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* 1 */

position: absolute;
width: 573px;
height: 621px;
left: 465px;
top: 3111px;



/* Card */

position: absolute;
width: 573px;
height: 358px;
left: 465px;
top: 3111px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 573px;
height: 358px;
left: 465px;
top: 3111px;

background: #FFFFFF;
border-radius: 8px;


/* Rectangle 3 Copy 37 */

position: absolute;
width: 573px;
height: 358px;
left: 465px;
top: 3111px;

background: #FFFFFF;
border-radius: 8px;


/* Ch2-Design-Sprints-Final-1764x992 */

position: absolute;
width: 638px;
height: 359px;
left: 432px;
top: 3111px;

background: url(Image.png);


/* Text */

position: absolute;
width: 536px;
height: 243px;
left: 465px;
top: 3489px;



/* Website Downtime: Ap */

position: absolute;
width: 536px;
height: 133px;
left: 465px;
top: 3535px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;
/* or 164% */
letter-spacing: -0.175px;

color: #111210;



/* User research is the Copy 3 */

position: absolute;
width: 523px;
height: 81px;
left: 465px;
top: 3651px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
letter-spacing: -0.1px;

color: #9B9B9B;



/* BY TOMAS LAURINAVICI */

position: absolute;
width: 377px;
height: 25px;
left: 465px;
top: 3489px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Essentials */

position: absolute;
width: 1171px;
height: 454px;
left: 465px;
top: 2492px;



/* Card 4 */

position: absolute;
width: 276px;
height: 169px;
left: 765px;
top: 2777px;



/* BG */

position: absolute;
width: 276px;
height: 169px;
left: 765px;
top: 2777px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 765px;
top: 2777px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 785px;
top: 2813px;



/* TUTORIALS */

position: absolute;
width: 85px;
height: 25px;
left: 785px;
top: 2813px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Find the Ideal WordP */

position: absolute;
width: 236px;
height: 65px;
left: 785px;
top: 2848px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #111210;



/* Card 3 */

position: absolute;
width: 276px;
height: 169px;
left: 468px;
top: 2777px;



/* BG */

position: absolute;
width: 276px;
height: 169px;
left: 468px;
top: 2777px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 468px;
top: 2777px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 489px;
top: 2813px;



/* WEB DESIGN */

position: absolute;
width: 102px;
height: 25px;
left: 489px;
top: 2813px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* How to Create a Quor */

position: absolute;
width: 236px;
height: 65px;
left: 489px;
top: 2848px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #111210;



/* Card 2 */

position: absolute;
width: 276px;
height: 169px;
left: 765px;
top: 2588px;



/* Card */

position: absolute;
width: 276px;
height: 169px;
left: 765px;
top: 2588px;



/* Rectangle 3 Copy 32 */

position: absolute;
width: 276px;
height: 155px;
left: 765px;
top: 2602px;

background: rgba(0, 0, 0, 0.0001);
mix-blend-mode: normal;
opacity: 0.69;
box-shadow: 0px 0px 32px rgba(119, 119, 119, 0.3);
border-radius: 0px 0px 16px 16px;


/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 765px;
top: 2588px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 785px;
top: 2628px;



/* FREELANCING */

position: absolute;
width: 107px;
height: 25px;
left: 785px;
top: 2628px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* What’s New in PHP 7. */

position: absolute;
width: 236px;
height: 65px;
left: 785px;
top: 2663px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #FF5480;



/* Card 1 */

position: absolute;
width: 276px;
height: 169px;
left: 468px;
top: 2588px;



/* BG */

position: absolute;
width: 276px;
height: 169px;
left: 468px;
top: 2588px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 468px;
top: 2588px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 489px;
top: 2624px;



/* DESIGN PROCESS */

position: absolute;
width: 132px;
height: 25px;
left: 489px;
top: 2624px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Is WordPress Secure? */

position: absolute;
width: 236px;
height: 65px;
left: 489px;
top: 2659px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #111210;



/* Big card */

position: absolute;
width: 573px;
height: 358px;
left: 1063px;
top: 2588px;



/* Card */

position: absolute;
width: 573px;
height: 358px;
left: 1063px;
top: 2588px;



/* Mask */

position: absolute;
width: 573px;
height: 358px;
left: 1063px;
top: 2588px;

background: #1B0042;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 573px;
height: 358px;
left: 1063px;
top: 2588px;

background: #1B0042;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* chap1_ent_sprint-1920x1080 */

position: absolute;
width: 637px;
height: 358px;
left: 1019px;
top: 2588px;

background: url(Image.png);
mix-blend-mode: normal;
opacity: 0.2;


/* Text */

position: absolute;
width: 496px;
height: 275px;
left: 1113px;
top: 2630px;



/* BY TOMAS LAURINAVICI */

position: absolute;
width: 350px;
height: 25px;
left: 1120px;
top: 2630px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #FFFFFF;



/* How to Fix the WordP */

position: absolute;
width: 473px;
height: 133px;
left: 1113px;
top: 2665px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;
/* or 164% */
letter-spacing: -0.175px;

color: #FFFFFF;



/* User research is the Copy */

position: absolute;
width: 492px;
height: 81px;
left: 1117px;
top: 2824px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
letter-spacing: -0.1px;

color: #FFFFFF;



/* Title */

position: absolute;
width: 1171px;
height: 65px;
left: 465px;
top: 2492px;



/* View all Copy */

position: absolute;
width: 57px;
height: 25px;
left: 1579px;
top: 2511px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Essentials */

position: absolute;
width: 181px;
height: 65px;
left: 465px;
top: 2492px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
/* or 161% */
letter-spacing: -0.225px;

color: #111210;



/* Random */

position: absolute;
width: 1169px;
height: 454px;
left: 465px;
top: 1906px;



/* Card */

position: absolute;
width: 1168px;
height: 358px;
left: 466px;
top: 2002px;



/* Card */

position: absolute;
width: 1168px;
height: 358px;
left: 466px;
top: 2002px;



/* Mask */

position: absolute;
width: 1168px;
height: 358px;
left: 466px;
top: 2002px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Object */

position: absolute;
width: 1168px;
height: 358px;
left: 466px;
top: 2002px;



/* Mask */

position: absolute;
width: 1168px;
height: 358px;
left: 466px;
top: 2002px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 584px;
height: 358px;
left: 1050px;
top: 2002px;

background: #BFC4CE;
border-radius: 0px 8px 8px 0px;


/* Mask */

position: absolute;
width: 584px;
height: 358px;
left: 1050px;
top: 2002px;

background: #BFC4CE;
border-radius: 0px 8px 8px 0px;


/* chap4_ent_sprint-1920x1080 */

position: absolute;
width: 638px;
height: 359px;
left: 1048px;
top: 2002px;

background: url(Image.png);


/* Text */

position: absolute;
width: 496px;
height: 275px;
left: 516px;
top: 2044px;



/* BY TOMAS LAURINAVICI */

position: absolute;
width: 330px;
height: 25px;
left: 523px;
top: 2044px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Mind-Blowing Twitter */

position: absolute;
width: 473px;
height: 133px;
left: 516px;
top: 2079px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;
/* or 164% */
letter-spacing: -0.175px;

color: #111210;



/* User research is the Copy 2 */

position: absolute;
width: 492px;
height: 81px;
left: 520px;
top: 2238px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
letter-spacing: -0.1px;

color: #9B9B9B;



/* Title */

position: absolute;
width: 152px;
height: 65px;
left: 465px;
top: 1906px;



/* Random */

position: absolute;
width: 152px;
height: 65px;
left: 465px;
top: 1906px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
/* or 161% */
letter-spacing: -0.225px;

color: #111210;



/* Popular */

position: absolute;
width: 1171px;
height: 454px;
left: 465px;
top: 1320px;



/* Card 4 */

position: absolute;
width: 276px;
height: 169px;
left: 1357px;
top: 1605px;



/* BG */

position: absolute;
width: 276px;
height: 169px;
left: 1357px;
top: 1605px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 1357px;
top: 1605px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 1377px;
top: 1641px;



/* INSPIRATION */

position: absolute;
width: 97px;
height: 25px;
left: 1377px;
top: 1641px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* 8 Best WordPress Eco */

position: absolute;
width: 236px;
height: 65px;
left: 1377px;
top: 1676px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #111210;



/* Card 3 */

position: absolute;
width: 276px;
height: 169px;
left: 1060px;
top: 1605px;



/* BG */

position: absolute;
width: 276px;
height: 169px;
left: 1060px;
top: 1605px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 1060px;
top: 1605px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 1081px;
top: 1641px;



/* DESIGN PROCESS */

position: absolute;
width: 133px;
height: 25px;
left: 1081px;
top: 1641px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* B2B Lead Generation */

position: absolute;
width: 236px;
height: 65px;
left: 1081px;
top: 1676px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #111210;



/* Card 2 */

position: absolute;
width: 276px;
height: 169px;
left: 1357px;
top: 1416px;



/* Card */

position: absolute;
width: 276px;
height: 169px;
left: 1357px;
top: 1416px;



/* Rectangle 3 Copy 32 */

position: absolute;
width: 276px;
height: 155px;
left: 1357px;
top: 1430px;

background: rgba(0, 0, 0, 0.0001);
mix-blend-mode: normal;
opacity: 0.69;
box-shadow: 0px 0px 32px rgba(119, 119, 119, 0.3);
border-radius: 0px 0px 16px 16px;


/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 1357px;
top: 1416px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 1377px;
top: 1456px;



/* RESOURCE */

position: absolute;
width: 82px;
height: 25px;
left: 1377px;
top: 1456px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* How not to design we Copy */

position: absolute;
width: 236px;
height: 65px;
left: 1377px;
top: 1491px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #FF5480;



/* Card 1 */

position: absolute;
width: 276px;
height: 169px;
left: 1060px;
top: 1416px;



/* BG */

position: absolute;
width: 276px;
height: 169px;
left: 1060px;
top: 1416px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 276px;
height: 169px;
left: 1060px;
top: 1416px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Text */

position: absolute;
width: 236px;
height: 100px;
left: 1081px;
top: 1452px;



/* FREELANCING */

position: absolute;
width: 105px;
height: 25px;
left: 1081px;
top: 1452px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Affiliate Systems Su */

position: absolute;
width: 236px;
height: 65px;
left: 1081px;
top: 1487px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.1125px;

color: #111210;



/* Big card */

position: absolute;
width: 573px;
height: 358px;
left: 466px;
top: 1416px;



/* Card */

position: absolute;
width: 573px;
height: 358px;
left: 466px;
top: 1416px;



/* Mask */

position: absolute;
width: 573px;
height: 358px;
left: 466px;
top: 1416px;

background: #1B0042;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 573px;
height: 358px;
left: 466px;
top: 1416px;

background: #1B0042;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* chap6_ent_sprint-1920x1080 */

position: absolute;
width: 639px;
height: 359px;
left: 418px;
top: 1415px;

background: url(Image.png);
mix-blend-mode: normal;
opacity: 0.2;


/* Text */

position: absolute;
width: 496px;
height: 275px;
left: 516px;
top: 1458px;



/* BY TOMAS LAURINAVICI Copy */

position: absolute;
width: 377px;
height: 25px;
left: 523px;
top: 1458px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #FFFFFF;



/* Web page layout 101: */

position: absolute;
width: 473px;
height: 133px;
left: 516px;
top: 1493px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;
/* or 164% */
letter-spacing: -0.175px;

color: #FFFFFF;



/* User research is the Copy */

position: absolute;
width: 492px;
height: 81px;
left: 520px;
top: 1652px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
letter-spacing: -0.1px;

color: #FFFFFF;



/* Title */

position: absolute;
width: 1171px;
height: 65px;
left: 465px;
top: 1320px;



/* View all Copy */

position: absolute;
width: 57px;
height: 25px;
left: 1579px;
top: 1339px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Popular */

position: absolute;
width: 143px;
height: 65px;
left: 465px;
top: 1320px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
/* or 161% */
letter-spacing: -0.225px;

color: #111210;



/* Reading lists   */

position: absolute;
width: 1171px;
height: 376px;
left: 465px;
top: 798px;



/* Next */

position: absolute;
width: 80px;
height: 225px;
left: 1555px;
top: 895px;



/* Rectangle 3 Copy 37 */

position: absolute;
width: 80px;
height: 225px;
left: 1555px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* right-arrow (1) */

position: absolute;
width: 32px;
height: 32px;
left: 1579px;
top: 992px;

background: url(Image.png);


/* Essentials */

position: absolute;
width: 197px;
height: 277px;
left: 1338px;
top: 895px;



/* Card */

position: absolute;
width: 197px;
height: 225px;
left: 1338px;
top: 895px;



/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 1338px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 1338px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* designbetter_website_book_assets_illustrations_designthinking_empathize-1920x1081 */

position: absolute;
width: 400px;
height: 225px;
left: 1221px;
top: 895px;

background: url(Image.png);


/* Text */

position: absolute;
width: 119px;
height: 27px;
left: 1377px;
top: 1145px;



/* Essentials */

position: absolute;
width: 119px;
height: 27px;
left: 1377px;
top: 1145px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 58px;
/* or 242% */
display: flex;
align-items: center;
letter-spacing: -0.15px;

color: #111210;



/* Popular */

position: absolute;
width: 197px;
height: 277px;
left: 1120px;
top: 895px;



/* Card */

position: absolute;
width: 197px;
height: 225px;
left: 1120px;
top: 895px;



/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 1120px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 1120px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* chap6_ent_sprint-1920x1080 */

position: absolute;
width: 400px;
height: 225px;
left: 917px;
top: 895px;

background: url(Image.png);


/* Text */

position: absolute;
width: 94px;
height: 27px;
left: 1172px;
top: 1145px;



/* Popular */

position: absolute;
width: 94px;
height: 27px;
left: 1172px;
top: 1145px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 58px;
/* or 242% */
display: flex;
align-items: center;
letter-spacing: -0.15px;

color: #111210;



/* SEO */

position: absolute;
width: 197px;
height: 277px;
left: 902px;
top: 895px;



/* Card */

position: absolute;
width: 197px;
height: 225px;
left: 902px;
top: 895px;



/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 902px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 902px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* designbetter_website_book_assets_illustrations_principlesofproductdesign_fastfeedback-1920x1081 */

position: absolute;
width: 400px;
height: 225px;
left: 804px;
top: 895px;

background: url(Image.png);


/* Text */

position: absolute;
width: 48px;
height: 27px;
left: 977px;
top: 1145px;



/* SEO */

position: absolute;
width: 48px;
height: 27px;
left: 977px;
top: 1145px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 58px;
/* or 242% */
display: flex;
align-items: center;
letter-spacing: -0.15px;

color: #111210;



/* UX design */

position: absolute;
width: 197px;
height: 279px;
left: 684px;
top: 895px;



/* Hover Action Card */

position: absolute;
width: 197px;
height: 224px;
left: 684px;
top: 907px;



/* Rectangle 3 Copy 32 */

position: absolute;
width: 197px;
height: 224px;
left: 684px;
top: 907px;

background: rgba(0, 0, 0, 0.0001);
mix-blend-mode: normal;
opacity: 0.69;
box-shadow: 0px 0px 32px rgba(119, 119, 119, 0.3);
border-radius: 0px 0px 16px 16px;


/* Card */

position: absolute;
width: 197px;
height: 225px;
left: 684px;
top: 895px;



/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 684px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 684px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Cover-Design-Sprints-Final-1764x992 */

position: absolute;
width: 401px;
height: 226px;
left: 483px;
top: 895px;

background: url(Image.png);


/* Text */

position: absolute;
width: 119px;
height: 32px;
left: 723px;
top: 1142px;



/* UX design */

position: absolute;
width: 119px;
height: 32px;
left: 723px;
top: 1142px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 58px;
/* or 242% */
display: flex;
align-items: center;
letter-spacing: -0.15px;

color: #FF5480;



/* UI design */

position: absolute;
width: 197px;
height: 279px;
left: 466px;
top: 895px;



/* Card */

position: absolute;
width: 197px;
height: 225px;
left: 466px;
top: 895px;



/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 466px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 197px;
height: 225px;
left: 466px;
top: 895px;

background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* designbetter_website_book_assets_illustrations_designleadershiphandbook_shapingdesignvision-1920x1080 */

position: absolute;
width: 400px;
height: 225px;
left: 364px;
top: 895px;

background: url(Image.png);


/* Text */

position: absolute;
width: 113px;
height: 32px;
left: 508px;
top: 1142px;



/* UI design */

position: absolute;
width: 113px;
height: 32px;
left: 508px;
top: 1142px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 58px;
/* or 242% */
display: flex;
align-items: center;
letter-spacing: -0.15px;

color: #111210;



/* Title */

position: absolute;
width: 1171px;
height: 65px;
left: 465px;
top: 798px;



/* View all */

position: absolute;
width: 57px;
height: 25px;
left: 1579px;
top: 817px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #FF5480;



/* Reading lists */

position: absolute;
width: 236px;
height: 65px;
left: 465px;
top: 798px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
/* or 161% */
letter-spacing: -0.225px;

color: #000000;



/* New */

position: absolute;
width: 1171px;
height: 484px;
left: 465px;
top: 201px;



/* New list */

position: absolute;
width: 354px;
height: 453px;
left: 1282px;
top: 201px;



/* 10 essential section */

position: absolute;
width: 336px;
height: 53px;
left: 1282px;
top: 601px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #111210;



/* SEP 04 2018 Copy 3 */

position: absolute;
width: 102px;
height: 25px;
left: 1282px;
top: 576px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Web page layout 101: */

position: absolute;
width: 336px;
height: 53px;
left: 1282px;
top: 483px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #111210;



/* SEP 04 2018 Copy 2 */

position: absolute;
width: 102px;
height: 25px;
left: 1282px;
top: 458px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* The beginners guide */

position: absolute;
width: 336px;
height: 25px;
left: 1282px;
top: 393px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #FF5480;



/* SEP 04 2018 Copy */

position: absolute;
width: 102px;
height: 25px;
left: 1282px;
top: 368px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Our 15 favorite webs */

position: absolute;
width: 336px;
height: 25px;
left: 1282px;
top: 303px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #111210;



/* SEP 04 2018 */

position: absolute;
width: 102px;
height: 25px;
left: 1282px;
top: 278px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* Separator  */

position: absolute;
width: 353px;
height: 1px;
left: 1282px;
top: 250px;

background: #D8D8D8;


/* View all new */

position: absolute;
width: 94px;
height: 25px;
left: 1542px;
top: 203px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #9B9B9B;



/* New */

position: absolute;
width: 57px;
height: 27px;
left: 1282px;
top: 201px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 58px;
/* or 242% */
display: flex;
align-items: center;
letter-spacing: -0.15px;

color: #111210;



/* Latest */

position: absolute;
width: 773px;
height: 484px;
left: 465px;
top: 201px;



/* Pic */

position: absolute;
width: 773px;
height: 484px;
left: 465px;
top: 201px;



/* Mask */

position: absolute;
width: 773px;
height: 484px;
left: 465px;
top: 201px;

background: #1B0042;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* Mask */

position: absolute;
width: 773px;
height: 484px;
left: 465px;
top: 201px;

background: #1B0042;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
border-radius: 8px;


/* designbetter_website_book_assets_illustrations_principlesofproductdesign_cover-1920x1081 */

position: absolute;
width: 860px;
height: 484px;
left: 421px;
top: 201px;

background: url(Image.png);
mix-blend-mode: normal;
opacity: 0.2;


/* Text */

position: absolute;
width: 668px;
height: 236px;
left: 516px;
top: 242px;



/* BY TOMAS LAURINAVICI */

position: absolute;
width: 341px;
height: 25px;
left: 523px;
top: 242px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 58px;
/* or 362% */
display: flex;
align-items: center;
letter-spacing: -0.1px;

color: #FFFFFF;



/* How to accept reject */

position: absolute;
width: 563px;
height: 90px;
left: 516px;
top: 277px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 46px;
/* or 164% */
letter-spacing: -0.175px;

color: #FFFFFF;



/* User research is the */

position: absolute;
width: 664px;
height: 81px;
left: 520px;
top: 397px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
letter-spacing: -0.1px;

color: #FFFFFF;



/* Header */

position: absolute;
width: 1171px;
height: 35px;
left: 465px;
top: 58px;



/* Icon */

position: absolute;
width: 24px;
height: 24px;
left: 1612px;
top: 65px;



/* magnifying-glass */

position: absolute;
width: 24px;
height: 24px;
left: 1612px;
top: 65px;

background: url(Image.png);


/* Nav */

position: absolute;
width: 615px;
height: 35px;
left: 622px;
top: 58px;



/* Button */

position: absolute;
left: 19.35%;
right: 68.78%;
top: 0%;
bottom: 0%;

background: #FF5480;
border-radius: 10px;


/* Popular */

position: absolute;
height: 22px;
left: 0%;
right: 90.08%;
top: calc(50% - 22px/2 - 1.5px);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* New */

position: absolute;
height: 22px;
left: 22.28%;
right: 72.03%;
top: calc(50% - 22px/2 - 1.5px);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;



/* Reading list */

position: absolute;
height: 22px;
left: 40.33%;
right: 45.04%;
top: calc(50% - 22px/2 - 1.5px);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* Topics */

position: absolute;
height: 22px;
left: 67.32%;
right: 24.72%;
top: calc(50% - 22px/2 - 1.5px);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* Subscribe */

position: absolute;
height: 22px;
left: 87.64%;
right: 0%;
top: calc(50% - 22px/2 - 1.5px);

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* Group 13 */

position: absolute;
width: 99px;
height: 29px;
left: 465px;
top: 61px;



/* Fill 1 */

position: absolute;
width: 70px;
height: 18px;
left: 490px;
top: 69px;

background: #020202;


/* Fill 3 */

position: absolute;
width: 30px;
height: 29px;
left: 465px;
top: 61px;

background: #010101;


/* Path */

position: absolute;
width: 0.95px;
height: 0.47px;
left: 482.18px;
top: 75.53px;



/* Path */

position: absolute;
width: 1.87px;
height: 1.27px;
left: 476.77px;
top: 75.63px;



/* Path */

position: absolute;
width: 30px;
height: 29px;
left: 465px;
top: 61px;



/* Fill 5 */

position: absolute;
width: 6px;
height: 6px;
left: 558px;
top: 82px;

background: #020202;


/* Fill 7 */

position: absolute;
width: 2px;
height: 2px;
left: 556px;
top: 81px;

background: #020202;


/* Fill 9 */

position: absolute;
width: 0.19px;
height: 0.21px;
left: 507.9px;
top: 78.9px;

background: #FEFEFE;


/* Fill 11 */

position: absolute;
width: 0.14px;
height: 0.14px;
left: 543.93px;
top: 78.93px;

background: #FEFEFE;


<section class="container-fluid">
  <table>
    <thead>
      <tr>
        <th scope="col">  
          <div class="card bg-dark text-white">
            <img class="card-img" src="assets/img/Pic.png" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title">BY   TOMAS LAURINAVICIUS   IN   INSPIRATION</h5>
              <p class="card-text">How to accept rejection gracefully — and use it to grow</p>
              <p class="card-text">User research is the reality check every project needs. Here’s our guide to why you should be doing it — and how to get started.</p>
            </div>
          </div>
          <th scope="col">New</th>
        </tr>
      </thead>
  </section>